#icon{
    border-radius:50%;
    width:180px;
    height:180px;
}


h1{
    margin:0;
    padding:20px 0;
    font-size:60px;
}

h2{
    font-size:30px;
}


html{
font-size:10px;
font-family: 'Source Serif 4', sans-serif;
/* background-color:#FEFDE1; */    
background: rgb(45,253,54);
background: linear-gradient(0deg, rgba(45,253,54,1) 0%, rgba(214,223,57,1) 100%);
height:max(665.297px,100vh);
}

body{
    width:80%;
    margin:0 auto;
    background-color: #fffded;
    padding: 0 20px 20px 20px;
}


header{
    text-align: center;
}

ul{
    list-style-type:square;
}

li{
    font-size:22px;
}

p{
    font-size:22px;
}

footer{
    background-color:#0A739D;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: #265301;
  }
  
  a:visited {
    color: #437A16;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background: #BAE498;
  }
  
  a:hover {
    border-bottom: 1px solid;
    background: #CDFEAA;
  }
  
  a:active {
    background: #265301;
    color: #CDFEAA;
  }

  .interest,.reference{
    margin-left:10px;
  }