#icon{
    border-radius:50%;
    width:180px;
    height:180px;
}


h1{
    margin:0;
    padding:20px 0;
    font-size:60px;
}

h2{
    font-size:30px;
}


html{
font-size:10px;
font-family: 'Source Serif 4', sans-serif;
color:#efebf0;
/* background-color:#FEFDE1; */    
/* background: rgb(45,253,54); */
/* background: linear-gradient(0deg, rgba(45,253,54,1) 0%, rgba(214,223,57,1) 100%); */
/* height:max(665.297px,100vh); */
}

body{
    margin:0 auto;
    background-color: #261829;
    padding: 0 20px 20px 20px;
}


header{
    text-align: center;
}

main{
	display:flex;
	justify-content:center;
}

ul{
    list-style-type:square;
}

li{
    font-size:22px;
}

p{
    font-size:22px;
}

footer{
    background-color:#0A739D;
}


.text-link{
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  .text-link:link {
    color: #a69f6f;
  }
  
  .text-link:visited {
    color: #a69f6f;
  }
  
  .text-link:focus {
    color:#bfb880;
    border-bottom: 1px solid;
  }
  
  .text-link:hover {
    color:#bfb880;
    border-bottom: 1px solid;
  }
  

  article{
    margin-left:10px;
  }


  .icon_ref{
    width:40px;
    height:40px;
    margin:5px;
  }

  .a_ref{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    cursor:pointer;
  }